body > header, footer{
    background: #DDD;
    padding: 10px;
    min-height: 50px;
    min-width: 100px;
}

body>header>a, body>footer>a {
    margin:10px;
}
body > footer{
    text-align: center;
}


body > table > th, td {
    padding: 10px;
}

th {
    background: #AAA;
}

td {
    background: #DDD;
}
.successMessage, .infoMessage, .errorMessage{
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    border-color: black;
    border-width: 1px;
    box-shadow: #AAAAAA;
    cursor: pointer;
    cursor: hand;
}


.successMessage {
    background: #66ff33;
}
.infoMessage {
    background: #ffff66;
}
.errorMessage {
    background: #ff3300;
}
.latest-user {
    display:inline-block;
    background: #DDD;
    margin: 10px;
    padding: 5px;
    border-radius: 2px;
}